html{
    scroll-behavior: smooth;
}
body{
    background-color: white; 
}
*{
    padding: 0;
    margin: 0;
}

/* Header CSS*/
header{
    display: flex;
    flex-direction: row;
    color: #FFF2F2;
    background-color: #0A4D68;
    padding: 0.9vw;
}
header img{
    margin: auto 0% auto 6%;
}
header h1{
    font-family: 'Bruno Ace SC', cursive;
    margin: auto 0% 0.7vw 2.3%;
    font-size: 1.6vw;
    font-weight: bold;
    width: 25%;
    letter-spacing: 0.2em;
}
.link_Container{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0.5vw 0% 0% 22%;
}
.link{
    padding:2vw 2.1vw 2vw 2.1vw;
    text-decoration: none;
    color: #FFF2F2;
    font-family: 'Gruppo', cursive;
    font-size: 1.2vw;
}
.link:hover{
    background-color: #144272;
    color: #19A7CE;
}


/* Section CSS*/
#section1{
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("..//IMAGE/BackGround-Img/HomePageImage\(2\).jpg");
    transform: scaleX(-1);
    position: relative;
   }
.section1 > div{
    position: absolute;
    top: 0% ;
    left: 0%;
    right: 0%;
    bottom: 0%;
    transform: scaleX(-1);
    background-image: linear-gradient(to right,
     rgba(0,0,0,.9) 20%,
     rgba(0,0,0,.4) 60%,
     rgba(0,0,0,0) 100%,
     rgba(0,0,0,0) 100%
     );
}
.land-Page-Con h1{
    text-align: center;
    font-size: 4.4vw;
    width: 30vw;
    font-family: 'Poltawski Nowy', serif;
    top: 19%;
    left: 9%;
    position: relative;
    transform: scaleX(1);
    color: white;
    letter-spacing: 0.1em;
}
.land-Page-Con span{
    position: absolute;
    left: 60%;
}
#section2{
    width: 100%;
    height: 100vh;
}
#section3{
    background-image: url(../IMAGE/BackGround-Img/bg-out-doctors.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#section4{
    width: 100%;
    height: 100vh;
}
/* Footer */
footer{
    width: 100%;
    height: 50%;
    background-color: #0A4D68;
}


/* Services CSS*/
.taas{

    display: flex;
    flex-direction: row;
	color: #000000;
	font-size: 20px;
    position: absolute;
}
.taas img{
    margin-top: -50px;
    margin-left: 5%;
}
.taas p{
    font-size: 1.5vw;
    padding: 3.5%;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}
#section2 hr{
    width:50%;
    margin: 1.5% auto;
    border: 1px solid black;
}

.bluecare h1{
	color: #000000;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
    padding-top: 16%;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 0.1em;
}
.content{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
    padding-top: 1%;
}
.boxS1 img, .boxS2 img, .boxS3 img{
    border-radius: 20%;
}
.boxS1 p, .boxS2 p, .boxS3 p{
    text-align: justify;
    margin-top:6.5%;
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
}
.cardS1, .cardS2, .cardS3 {
    width: 35%;
    margin-left: 4%;
    margin-right: 6%;
	padding: 2% 3% 3% 3%;
	border-radius: 6%;
	background-color: #569DAA;
	text-align: center;
	cursor: pointer;
	transition: 0.01s;
}
.cardS1:hover, .cardS2:hover, .cardS3:hover{
    background-color: #007d80;
    transform: scale(1.1, 1.1);
    transform: rotate(2deg);
    box-shadow: 8px 4px black;
}


/* Our Doctors CSS */
#Mission-Text > h1{
    font-size: 3vw;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 0.1em;
    padding-top: 1%;
    text-align: center;
}
.img-content > img {
    border-radius: 8rem;
}
.img-content > p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
    margin-left: 3%;
    width: 70%;
    padding: 1.4%;
    text-align: justify;
}
.img-content{
    margin-top: 1%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
}
.OD-hr1{
    width:60%;
    margin: 2% auto 0% auto;
    border: 1px solid black;
}
.OD-hr2{
    width:80%;
    margin: 0% auto 0% auto;
    border: 1px solid black;
}
.Our-Doctors{
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 0.1em;
    font-size: 3.5vw;
}
#Doctors-Container1, #Doctors-Container2{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
#Doctors-Container1 > span, #Doctors-Container2 > span {
    width: 100%; height: 100%;
}
#Doctors-Container1 span > h3, #Doctors-Container2 span > h3{
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Rajdhani', sans-serif;
}
#Doctors-Container1 span > img, #Doctors-Container2 span > img{
    margin-left: 37%;
    border-radius: 50%;
}

/* How It Works */
#section4 hr{
    border: 1px solid black;
    width: 90%;
    margin: 0.5% auto 0% auto;
}
#HIW-Container > h2{
    font-size: 2.5vw;
    text-align: center;
    margin-top: 4%;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 0.1em;
}
#setp1to4, #step5to8{
    display: flex;
    flex-direction: row;
}
.step1{
    margin: 3% 4% 2% 5%;
}
.step1 h1, .step2 h1, .step3 h1, .step4 h1, .step5 h1, .step6 h1, .step7 h1, .step8 h1{
    text-align: center;
    border: 1px solid black;
    padding: 0.5vw;
    border-radius: 100%;
    width: 12%;
}
.step2, .step3, .step4{
    margin: 3% 4% 2% 4%;
}
.step1-span, .step2-span, .step3-span, .step4-span{
    padding: 3vw;
}
.step1-span > h2, .step2-span > h2, .step3-span > h2, .step4-span > h2{
    margin-top: 5%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.step5{
    margin: 1% 4% 2% 5%;
}
.step6, .step7, .step8{
    margin: 1% 4% 2% 4%;
}
.step5-span, .step6-span, .step7-span, .step8-span{
    padding: 3vw;
}
.step5-span > h2, .step6-span > h2, .step7-span > h2, .step8-span > h2{
    margin-top: 1%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}


/* Footer CSS */
footer{
    display: flex;
    flex-direction: column;
}
#Footer-info{
    display: flex;
    flex-direction: row;
}
#head-para{
    color: white;
}
#Footer-info img{
    margin-left: 2%;
    margin-top: -5%;
}
#head-para h3{
    font-family: 'Cinzel', serif;
    font-size: 2vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0.5%;
}
#head-para p{
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    padding: 0.3%;
}
#head-para ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 5%;
    margin-left: 12%;
}
#head-para ul li{
    margin: auto 5% auto 7%;
}
#copy-rights{
    color: white;
    text-align: center;
    font-size: 1.1vw;
    font-family: 'Gruppo', cursive;
    padding-bottom: 1%;
}
/* BTN */
#Back-To-Top{
    padding: 0%;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 0px none black;
    position: fixed;
    overflow: inherit;
    top: 90%;
    left: 94%;
    cursor: pointer;
}